<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5" > -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Moon+Dance&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="first">    
        <aside><img src="/static/img/side.png" alt="sidebar decoration image"></aside>
        <main>
        {% block main %}{% endblock %}
        </main>
    </div>
    <footer>{% if message %}{{ message }}{% endif %}</footer>
</body>
</html>